/* Inicio Global */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background: #EEEEF4;
    color: #4C4D4D;
    font-family: 'Roboto', sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: auto;
    }
}
/* Fim Global */
